.App {
  background-color: whitesmoke;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
}

.userInput {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2.5rem;
}

button {
  margin: 2rem;
  font-size: 2rem;
  width: 200px;
}

textarea {
  margin: 1rem auto;
  width: 40vw;
  font-size: 2.5rem;
}

.submitbutton {
  background-color: orange;
}

.resultlist {
  width: 70vw;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 640px) {
  .App, textarea, button, .userInput {
    font-size: 1.25rem;
  }

  button {
    width: 150px;
  }
}